<h1>質問を編集</h1>

<%= form_with model: @question do |f| %>
  <p>
    タイトル<br>
    <%= f.text_field :title %>
  </p>

  <p>
    カテゴリ<br>
    <%= f.text_field :category %>
  </p>

  <p>
    相談内容<br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "更新する" %>
  </p>
<% end %>

<%= link_to "詳細へ戻る", question_path(@question) %>