<h1>専門家登録</h1>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with model: @user, url: experts_path do |f| %>
  <p>
    名前<br>
    <%= f.text_field :name %>
  </p>

  <p>
    メールアドレス<br>
    <%= f.email_field :email %>
  </p>

  <p>
    パスワード<br>
    <%= f.password_field :password %>
  </p>

  <p>
    パスワード（確認用）<br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>